.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
}

@media (hover: none) {
    .cursor {
        display: none;
    }
}